DecipheredVarValues.rtf
sourceAll.txt
/*.log
/Semantic
/__pycache__
/.idea
/Senanal
/KarakaSemanticLabelling.pdf
/Amarakosha-Morphological-Syntactic-Analysis-Old-VisualBasic.zip
/U0900.pdf
/WordsData-TrialDataFields.db
/Amarakosha.log
/WordsData
/iscii-db.txt
/unicode-db.txt
/*.c
/*.Aci
/source.txt
/requests.txt
/out.Aci
/OSout.Aci
/TODO.txt
/databaseModel.py
/tests/test_exception_giver_sentences_working.py
