sourceAll.txt
/*.log
/Semantic
/__pycache__
/.idea
/WordsData*
/*.c
/*.Aci
/source.txt
/requests.txt
/out.Aci
/OSout.Aci
/TODO.txt
/databaseModel.py
/*pyc
**pycache**
**.db
**shm
**wal
Docker*
/Documentation/*png