<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Analyze</title>
    <style>
      label {
        display: inline-block;
        width: 100px;
        height: 28px;
      }
  
      input[type=text], select {
        width: 70px;
        padding: 1px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
      }
  
      button {
        padding: 4px;
        border: 1px solid #ccc;
      }
 
      
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .flex-container > div {
      margin: 3px;
      padding: 2px;
      border: 1px solid black;
      flex-basis: 20%;
    }

    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
      padding: 2px;
    }

    th {
      background-color: #f2f2f2;
    }
    
    .tileVertical {
        display: inline-block;
        vertical-align: top;
        width: 7%;
        padding: 2px;
        box-sizing: border-box;
      }

    .center {
      margin: auto;
      width: 60%;
      padding: 10px;
    }
  
    .left {
      position: relative;
      float: left;
      margin-top: 10px;
      width: 6%;
      height: 30px; /* 660px; */
      /* background-color: #B9D7D9; */
      margin-bottom: 10px;
    }

    ul{
      list-style-type: none;
      position: relative;
      margin: -10px;
    }
          
    li {
      display: inline-block;
      margin: 5px;
      justify-content: center;
      border: 1px solid #000000;
      font-family: Futura, Tahoma, sans-serif;
      color: #000000;
    }
  </style>
  </head>
  <body>
    <script src="http://d3js.org/d3.v4.min.js"></script>
		<div id="header">
			<div id="navbar" class="flex-container">
				<ul>
					<li><a href="webclient_Amara_Synonyms.html"> Amarakosha</a></li>
					<li><a href="webclient_Subanta_Generate.html">Subanta</a></li>
					<li><a href="webclient_Tiganta_Generate.html">Tiganta</a></li>
					<li><a href="webclient_Krdanta_Generate.html">Krdanta</a></li>
					<li><a href="webclient_sentence_analyser.html">Analysis</a></li>
				</ul>
			</div>
    </div>
    <div class="flex-container"><h1>Sentence Analysis</h1></div>
    <div id="pageButtons" class="center"></div>
    <div id="buttons">
        <label for="Dhatus">Sentences:</label>
        <button id="btnMorphologicalAnalysis">Morphological Analysis</button>
        <button id="btnSyntacticAnalysis" style="visibility: visible" disabled>Syntax Analysis</button>
        <button id="btnGraph" style="visibility: visible" disabled>Graphs</button>
    </div>
    <select id="Dhatus" size=0 class="left"></select> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      var sentence = null;
      var sectionInterpretation = null;
      var sectionGraphs = null;
      var numpages = 0;
      var numpagesInterpretation = 0;
      var subantas_tigantas_krdantas = {'सुबंतः':0,  'तिगंतः':0, 'कृदंतः':0};
      var subantas_tigantas_krdantas_forms = {'सुबंतः':0,  'तिगंतः':0, 'कृदंतः':0};
      const pages = ['सुबंतः',  'तिगंतः', 'कृदंतः'];

      url = "127.0.0.1"; port="5002"; prefix = '/Amarakosha/api/v1.0/';

      // Populate the listbox with options from the Dhatus endpoint
      const DhatusSelect = document.getElementById("Dhatus");
      fetch('http://' + url + ':' + port + prefix + 'SentencesBandarkar')
        .then(response => response.json())
        .then(json => {
          dataArray = json['Sentences'];
          dataArray.forEach((item, i) => {
            const option = document.createElement("option");
            option.value = i;
            option.text = item;
            DhatusSelect.appendChild(option);
          });
        });
        // enable generate button only when there is a selection from the list box
        const DhatusListBox = document.getElementById("Dhatus");
        DhatusListBox.addEventListener("change", () => {
        sentence = $("#Dhatus option:selected").text();
        if (sentence == "") document.getElementById("btnMorphologicalAnalysis").disabled = true;
        else document.getElementById("btnMorphologicalAnalysis").disabled = false;
        })

      // Add an event listener to the "morphology analysis" button
      const btnMorphologicalAnalysis = document.getElementById("btnMorphologicalAnalysis");
      btnMorphologicalAnalysis.addEventListener("click", () => {
         sentence = $("#Dhatus option:selected").text();
        url = "127.0.0.1"; port="5002"; prefix = '/Amarakosha/api/v1.0/';
        dhatuSel = $("#Dhatus option:selected").text();
        url = 'http://' + url + ':' + port + prefix + 'SentenceAnalysis?sentence=' + sentence;
        document.getElementById("btnMorphologicalAnalysis").disabled = true;
        document.getElementById("btnSyntacticAnalysis").disabled = false;

        fetch(url)
          .then(response => response.json())
          .then(data => {

            sectionInterpretation = data.sentenceAnalysis.syntactic.interpretations;
            sectionGraphs = data.sentenceAnalysis.syntactic.graphs;

            let sentenceAnalysisDiv = document.getElementById("sentenceAnalysis");
            if (sentenceAnalysisDiv!=null) sentenceAnalysisDiv.parentNode.removeChild(sentenceAnalysisDiv);
            sentenceAnalysisDiv = document.createElement('div');
            sentenceAnalysisDiv.setAttribute("id", "sentenceAnalysis");

            pageNumber = 0;
            
            // Create and append pages to the document
            for (const section of pages) {
              const sectionData = data.sentenceAnalysis.morphological[section];
              const sectionFormsData = data.sentenceAnalysis.morphological[section + 'Forms'];
              subantas_tigantas_krdantas[section] = sectionData.length;
              if (section == 'तिगंतः') len = 3; else len = 8;
              subantas_tigantas_krdantas_forms[section] = sectionFormsData.length/len;
              var rownames;
              if (section == 'तिगंतः') rownames = ["प्रथमपुरुषः", "मध्यमपुरुषः", "उत्तमपुरुषः"];
              else rownames = ['प्रथमा', 'द्वितीया', 'तृतीया', 'चतुर्थि', 'पंचमि', 'शष्टि', 'सप्तमि', 'सं प्रथम'];
              const flexDiv = document.createElement('div');
              flexDiv.setAttribute("class", "flex-container");
              for (let i = 0; i < sectionData.length; i++) {
                pageNumber += 1;
                const pageAnchor = document.createElement('a');
                pageAnchor.name = 'Page ' + pageNumber;
                
                const pageDiv = generatePageKeyValuePairs(data, section, i);
                pageDiv.id = 'page-' + pageNumber;
                pageDiv.style.visibility = "hidden";
                flexDiv.appendChild(pageAnchor);
                /* const labelSection = document.createElement("label");
                labelSection.htmlFor = pageAnchor.name;
                labelSection.textContent = pageAnchor.name;
                pageDiv.appendChild(labelSection); */
                flexDiv.appendChild(pageDiv);
                flexDiv.appendChild(document.createElement('br'));
              }

                vacanas = ['एकवचन', 'द्विवचन', 'बहुवचन'];
                const tblDiv = generatePageTable(data, section, rownames, vacanas, pageNumber);
                // tblDiv.id = 'pagetbl-' + pageNumber;
                tblDiv.style.visibility = "hidden";
                flexDiv.appendChild(tblDiv);
                sentenceAnalysisDiv.appendChild(flexDiv);
            }

            // remove any previously generated buttons and Create buttons to show each page
            buttons = document.getElementById("pageButtons");
            while (buttons.firstChild) {
              buttons.removeChild(buttons.firstChild);
            }
            pagerange = 0;
            for (const [key, value] of Object.entries(subantas_tigantas_krdantas)) {
              pagerange += value;
              subantas_tigantas_krdantas[key] = pagerange
            }
            // console.log(subantas_tigantas_krdantas);

            for (let i = 1; i <= pageNumber; i++) {
              const button = document.createElement('button');
              button.textContent = 'Page ' + i;
              button.addEventListener('click', () => showPage(i));
              buttons.appendChild(button);
            }
            document.body.appendChild(sentenceAnalysisDiv);
            numpages = pageNumber;
            showPage(1);
          });
      });

      // Add an event listener to the "syntax analysis" button
      const btnSyntaxAnalysis = document.getElementById("btnSyntacticAnalysis");
      btnSyntaxAnalysis.addEventListener("click", () => {
        let sentenceAnalysisDiv = document.getElementById("sentenceAnalysis");
        if (sentenceAnalysisDiv!=null) sentenceAnalysisDiv.parentNode.removeChild(sentenceAnalysisDiv);
        sentenceAnalysisDiv = document.createElement('div');
        sentenceAnalysisDiv.setAttribute("id", "sentenceAnalysis");
        sentenceAnalysisDiv.setAttribute("name", "sentence Analysis");

        document.getElementById("btnGraph").disabled = false;

        pageNumber = 0; numpagesInterpretation = 0;
        const flexDiv = document.createElement('div');
        flexDiv.setAttribute("class", "flex-container");
        flexDiv.setAttribute("id", "Interpretations");
        // const sectionInterpretation = data.sentenceAnalysis.syntactic.interpretations;
        for (let i = 0; i < sectionInterpretation.length; i++) {
          pageNumber += 1;
          const pageAnchor = document.createElement('a');
          pageAnchor.name = 'Page ' + pageNumber;
          // console.log(pageAnchor.name);
          const tblDiv = generateInterpretationsTable(sectionInterpretation, pageNumber);
          tblDiv.style.visibility = "hidden";
          flexDiv.style.visibility = "visible";
          flexDiv.appendChild(tblDiv);
          sentenceAnalysisDiv.appendChild(flexDiv);
        }
        numpagesInterpretation = pageNumber;    
        // remove any previously generated buttons and Create buttons to show each page
        buttons = document.getElementById("pageButtons");
        while (buttons.firstChild) {
          buttons.removeChild(buttons.firstChild);
        }
        for (let i = 1; i <= pageNumber; i++) {
          const button = document.createElement('button');
          button.textContent = 'Page ' + i;
          button.addEventListener('click', () => showPageInterpretation(i));
          buttons.appendChild(button);
        }
        document.body.appendChild(sentenceAnalysisDiv);
        numpages = pageNumber;
        btnSyntaxAnalysis.style.disabled = true;
        showPageInterpretation(1);

      });
      // Add an event listener to the "graph" button
      const btnGraph = document.getElementById("btnGraph");
      btnGraph.addEventListener("click", () => {
        drawGraphsNewWindow(sentence);
        btnGraph.style.disabled = true;
      });
// Function to generate label:text pairs for <key, value> pairs
function generateKeyValuePairs(data, section) {
  const div = document.createElement('div');
  const labelSection = document.createElement("label");
  labelSection.htmlFor = section;
  labelSection.textContent = section;
  div.appendChild(labelSection);
  div.appendChild(document.createElement('br'));
  for (const [key, value] of Object.entries(data)) {
    const label = document.createElement('label');
    label.textContent = key + ':';

    const text = document.createElement('input');
    text.type = 'text';
    text.value = Array.isArray(value) ? value.join(', ') : value;

    div.appendChild(label);
    div.appendChild(text);
    div.appendChild(document.createElement('br'));
  }
  return div;
}
// Function to generate a page with <key, value> pairs
  function generatePageKeyValuePairs(data, section, index) {
  const pageDiv = document.createElement('div');
  pageDiv.setAttribute("class", "tileVertical");
  const keyValueDiv = generateKeyValuePairs(data.sentenceAnalysis.morphological[section][index], section);
  pageDiv.appendChild(keyValueDiv);
  return pageDiv;
}

// Function to generate a table with a 3-column header
function generateTable(data, rownames, colnames, hdr) {
  const table = document.createElement('table');
  const headerRow = table.insertRow();
  const header = document.createElement('th');
  header.textContent = hdr;
  headerRow.appendChild(header);
  Object.entries(colnames).forEach((k,v) => {
    const header = document.createElement('th');
    header.textContent = colnames[v];
    headerRow.appendChild(header);
  });
  for (const [key, value] of Object.entries(data)) {
      const row = table.insertRow();
      const labelCell = row.insertCell();
      labelCell.textContent = rownames[key];
      for (const form of value) {
        const cell = row.insertCell();
        cell.textContent = form;
      }
    }
  return table;
}

// Function to generate a page with table
  function generatePageTable(data, section, rownames, colnames, pageNumber) {
  const pageDiv = document.createElement('div');
  pageDiv.setAttribute("class", "tileVertical");
  if (section == 'तिगंतः') {hdr =  'पुरुष/वचन'; inc = 3}
  else {hdr = 'विभक्ति/वचन'; inc = 8}
  formData = data.sentenceAnalysis.morphological[section + 'Forms'];
  for (k = 0; k < formData.length; k += inc) {
  const tableDiv = generateTable(formData.slice(k, k + inc), rownames, colnames, hdr);
  tableDiv.id = section + "-" + k/inc;
  const labelSection = document.createElement("label");
  labelSection.htmlFor = tableDiv.id;
  labelSection.textContent = tableDiv.id;
  pageDiv.appendChild(labelSection);
  pageDiv.appendChild(tableDiv);
  }
  return pageDiv;
}

// Function to handle button clicks and show/hide pages
function showPage(pageNumber) {
  const pageId = document.getElementById('page-' + pageNumber);
  // console.log(subantas_tigantas_krdantas, "forms", subantas_tigantas_krdantas_forms);
  for (let i = 0; i < numpages; i++) {
    p = document.getElementById(('page-' + (i + 1))); 
    p.style.visibility = "hidden"; 
    p.parentNode.style.visibility = "hidden";
  }
  for (section in pages) { 
    // console.log(pages[section]);
    for (let i = 0; i < subantas_tigantas_krdantas_forms[pages[section]]; i++) 
      {document.getElementById(pages[section] + "-" + i).style.visibility = "hidden"; 
      // console.log(pages[section] + "-" + i);
    }
  }
  if (pageNumber <= subantas_tigantas_krdantas['सुबंतः']) {
    section = 'सुबंतः'; 
    // pagesSofar = subantas_tigantas_krdantas['सुबंतः'];
  }
  else if (pageNumber <= subantas_tigantas_krdantas['तिगंतः']) {
    section = 'तिगंतः';
    // pagesSofar = subantas_tigantas_krdantas['सुबंतः'] + subantas_tigantas_krdantas['तिगंतः'];
    }
  else {
    section = 'कृदंतः';
    // pagesSofar = subantas_tigantas_krdantas['सुबंतः'] + subantas_tigantas_krdantas['तिगंतः'] + subantas_tigantas_krdantas['कृदंतः'];
  }

  tblId = section + "-" + Math.min((subantas_tigantas_krdantas[section] - pageNumber), subantas_tigantas_krdantas_forms[section] - 1);
  // console.log("tbl", tblId);
  tbl = document.getElementById(tblId);

  tbl.style.visibility = "visible";
  parent = tbl.parentNode;
  grandparent = parent.parentNode;
  parent.removeChild(tbl);
  grandparent.removeChild(parent)
  parent.prepend(tbl);
  grandparent.prepend(parent);

  pageId.style.visibility = "visible";
  parent = pageId.parentNode; 
  grandparent=parent.parentNode;
  parent.removeChild(pageId);
  grandparent.removeChild(parent);
  parent.prepend(pageId);
  grandparent.prepend(parent);
}

function generateInterpretationsTable(data, section) {
    const pagesDiv = document.createElement('div');
    for (k = 0; k < data.length; k++) {
      const pageDiv = document.createElement('div');
    // pageDiv.setAttribute("class", "tileVertical");
      cellData = data[k].cells;
      conclusions = data[k].conclusions;

      rownames = ["", "", ""];
      colnames = ["Roles", "Words", "linga/rupa", "vibhakti/purusha", "vacana"];
      hdr = ""
      const tableDiv = generateTable(cellData, rownames, colnames, hdr);
      const labelSection = document.createElement("label");
      labelSection.htmlFor = tableDiv.id;
      labelSection.textContent = tableDiv.id;
      pageDiv.appendChild(labelSection);
      pageDiv.appendChild(tableDiv);

      rownames = ["", "", ""];
      colnames = ["Interpretation"];
      hdr = "";
      const tableDivC = generateTableInter(conclusions, rownames, colnames, hdr);
      const labelSectionC = document.createElement("label");
      labelSectionC.htmlFor = tableDivC.id;
      labelSectionC.textContent = tableDivC.id;
      pageDiv.appendChild(labelSectionC);
      pageDiv.appendChild(tableDivC);
      numpagesInterpretation++;
      pageDiv.id = "page-" + numpagesInterpretation;
      pagesDiv.appendChild(pageDiv);
  }
  // console.log("inter", numpagesInterpretation);
  return pagesDiv;
}

function showPageInterpretation(pageNumber) {
    const pageId = document.getElementById('page-' + pageNumber);
    const flexDiv = document.getElementById("Interpretations");

    for (let i = 0; i < numpagesInterpretation; i++) {
      p = document.getElementById(('page-' + (i + 1))); 
      p.style.visibility = "hidden"; 
      p.parentNode.style.visibility = "hidden";
    }
    
    flexDiv.style.visibility = "visible";
    pageId.style.visibility = "visible";
    parent = pageId.parentNode; 
    grandparent=parent.parentNode;
    parent.removeChild(pageId);
    grandparent.removeChild(parent);
    parent.prepend(pageId);
    grandparent.prepend(parent);
}

// Function to generate a table with a 3-column header
function generateTableInter(data, rownames, colnames, hdr) {
  const table = document.createElement('table');
  const headerRow = table.insertRow();
  const header = document.createElement('th');
  header.textContent = hdr;
  headerRow.appendChild(header);
  Object.entries(colnames).forEach((k,v) => {
    const header = document.createElement('th');
    header.textContent = colnames[v];
    headerRow.appendChild(header);
  });
  const row = table.insertRow();
  const labelCell = row.insertCell();
  labelCell.textContent = "";
  const cell = row.insertCell();
  cell.textContent = data;
  return table;
}

// Function to draw graphs based on Jsonn graph data in d3 input format
function drawGraphsNewWindow(sentence) {
  graphjsPath = `\"http:\/\/3\.111\.155\.89\/Amarakosha\/webclient_graph\.js"`; stylesheetPath = `\"http:\/\/3\.111\.155\.89/\/Amarakosha\/graphStyleSheet\.css\""`;

  graphjsPath = `\"file:\/\/\/Users\/narasimhanm\.g\.\/Desktop\/Amarakosha\/source\/View\/webclient_graph\.js\"`;
  stylesheetPath = `\"file:\/\/\/Users\/narasimhanm\.g\.\/Desktop\/Amarakosha\/source\/View\/graphStyleSheet\.css\"`;

  const prepend_html = `\<!DOCTYPE html\>
  \<meta charset=\"utf-8\"\>
  \<head\>\<link rel=\"stylesheet\" href=` + stylesheetPath + `\>\</head\>
  \<body\>
    \<header id=\"myHeader\" class=\"header\"\>\<h3 id=\"sentence\">`;

  const append_html = `\</h3\>\</header\>
  \<svg width=\"960\" height=\"600\"\>\</svg\>
  \<script src=\"http:\/\/d3js\.org/d3\.v4\.min\.js\"\>\<\/script\>
  \<script src=` + graphjsPath + `\>\<\/script\>
  \<\/body\>\<\/html\>`;

  insertHtml = prepend_html + sentence + append_html;

  var url = URL.createObjectURL(
    new Blob([insertHtml], { type: "text/html" })
  );
  // if (confirm(insertHtml))
  graphWindow = window.open(url, "win", `width=800,height=400,screenX=700,screenY=200`);
}

</script>
  </body>
</html>