<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tigantas</title>
    <style>
      label {
        display: inline-block;
        width: 100px;
        height: 28px;
      }
  
      input[type=text], select {
        width: 70%;
        padding: 1px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
      }
  
      /* button {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
  
      button:hover {
        background-color: #45a049;
      } */
      
      .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .flex-container > div {
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
      flex-basis: 40%;
    }

    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
      padding: 2px;
    }

    th {
      background-color: #f2f2f2;
    }
    .tileVertical {
        display: inline-block;
        vertical-align: top;
        width: 7%;
        padding: 2px;
        box-sizing: border-box;
      }

      ul{
        list-style-type: none;
        position: relative;
        margin: -10px;
    }
          
    li {
        /*Add your CSS here!*/
        display: inline-block;
      /* padding-left: 1px;
      padding-right: 1px; */
      margin: 5px;
      justify-content: center;
        border: 1px solid #000000;
        font-family: Futura, Tahoma, sans-serif;
      /* font-size: 80%; */
        color: #000000;
        /* border-radius: 5px 5px; */
        /* background-color: #cc0323 */
    }
  </style>
  </head>
  <body>
		<div id="header">
			<div id="navbar" class="flex-container">
				<ul>
					<li><a href="webclient_Amara_Synonyms.html"> Amarakosha</a></li>
					<li><a href="webclient_Subanta_Generate.html">Subanta</a></li>
					<li><a href="webclient_Tiganta_Generate.html">Tiganta</a></li>
					<li><a href="webclient_Krdanta_Generate.html">Krdanta</a></li>
					<li><a href="webclient_sentence_analyser.html">Analysis</a></li>
				</ul>
			</div>
    </div>
    <div class="flex-container"><h1>Tigantas</h1></div>
    <!-- <button id="refreshButton" onclick="location.reload()">Restart</button> -->
    <input id="status" type="text" value="" name="status">
    <div>
        <label for="Dhatus">Dhatus:</label>
        <button id="DhatusButton" disabled>Sorted List(अकारादि)</button>
        <button id="DhatusButtonOptionGana" disabled>Ganas(गण)</button>
        <button id="DhatusButtonOptionPadi" disabled>Padis(पदि)</button>
        <button id="DhatusButtonOptionKarma" disabled>Karmas(कर्म)</button>
        <button id="DhatusButtonOptionIt" disabled>Its(इट्)</button>
    </div>
    <select id="Dhatus" size=53 class="tileVertical"></select> 
    <div id="dhatu" class="tileVertical">
      <p>Tigantas:</p>
    </div>
    <div id="textBoxes" class="tileVertical"><p>तिगंतः</p></div>
    <div id="purusha_vachana" class="tileVertical"><p></p></div>
    <div id="tigantaTbl" class="tileVertical">
      <table id="tbl">Purusha/Vachana
        <tr><td>empty</td></tr>
      </table>
    </div>
    <div class="tileVertical" id="popup" style="visibility: hidden;">    
      <div><label for="DhatuVidha">धातुविदाः</label>
      <select id="DhatuVidha" name="DhatuVidha" size="3"">
        <option selected value="केवलतिगंतः">केवलतिगंतः</option>
        <option value="णिजन्त">णिजन्तः</option>
        <option value="सन्नन्तः">सन्नन्तः</option>
      </div>
      <div><label for="Placeholder01">dummy</label>
          <select id="Placeholder01" name="Placeholder01" size="1" >
      </div>
      <div><label for="Prayoga">प्रयोगः</label>
          <select id="Prayoga" name="Prayoga" size="2" value="कर्तरि">
            <option selected value="कर्तरि">कर्तरि</option>
            <option value="कर्मणि">कर्मणि</option>
      </div>
      <div><label for="Placeholder02">dummy</label>
            <select id="Placeholder02" name="Placeholder02" size="1" >
      </div>
      <div><label for="lakara">लकारः</label>
            <select id="lakara" name="lakara" size="10">
              <option selected value="लट्">लट्</option>
              <option value="लट्">लट्</option>
              <option value="लुट्">लट्</option>
              <option value="लृट्">लट्</option>
              <option value="लट्">लोट्</option>
              <option value="लट्">लङ्</option>
              <option value="लुट्">विधिलिङ्</option>
              <option value="लृट्">अशीर्लिङ्</option>
              <option value="लट्">लुङ्</option>
              <option value="लट्">लृङ्</option>
      </div>
  
      <div><label for="Placeholder6">dummy</label>
        <select id="Placeholder6" name="Placeholder6" size="1" >
    </div>
       <input type="button" id="btnOk" name="sortedList" value="ok"  onclick="optionsClicked()" style="visibility: hidden;">
       <input type="button" name="cancel" value="cancel"  onclick="alert('cancelled')">
      </div>
    </div>
      <div class="tileVertical" id="optionGana" style="visibility: hidden;">    
      <div><label id="lblgana" for="gana">गण</label>
            <select id="gana" name="gana" size="10">
              <option selected value="भ्वादिगणः">भ्वादिगणः</option>
              <option value="अदादिगणः">अदादिगणः</option>
              <option value="जुहोत्यादिगणः">जुहोत्यादिगणः</option>
              <option value="दिवादिगणः">दिवादिगणः</option>
              <option value="स्वादिगणः">स्वादिगणः</option>
              <option value="तुदादिगणः">तुदादिगणः</option>
              <option value="रुधादिगणः">रुधादिगणः</option>
              <option value="तनादिगणः">तनादिगणः</option>
              <option value="क्रयादिगणः">क्रयादिगणः</option>
              <option value="चुरादिगणः">चुरादिगणः</option>
      </div>
      <div><label for="Placeholder2">dummy</label>
          <select id="Placeholder2" name="Placeholder2" size="1" >
      </div>
    </div>
      <div class="tileVertical" id="optionPadi" style="visibility: hidden;">    
      <div><label  id="lblpadi" for="padi">पदि</label>
            <select id="padi" name="padi" size="3">
              <option selected value="परस्मैपदी">परस्मैपदी</option>
              <option value="आत्मनेपदी">आत्मनेपदी</option>
              <option value="उभयपदी">उभयपदी</option>
      </div>
      <div><label for="Placeholder3">dummy</label>
          <select id="Placeholder3" name="Placeholder3" size="1" >
      </div>
    </div>
      <div class="tileVertical" id="optionKarma" style="visibility: hidden;">    
      <div><label  id="lblkarma" for="karma">कर्म</label>
            <select id="karma" name="karma" size="3">
              <option selected value="सकर्मकः">सकर्मकः</option>
              <option value="अकर्मकः">अकर्मकः</option>
              <option value="द्विकर्मकः">द्विकर्मकः</option>
      </div>
      <div><label for="Placeholder4">dummy</label>
          <select id="Placeholder4" name="Placeholder4" size="1" >
      </div>
    </div>
      <div class="tileVertical" id="optionIt" style="visibility: hidden;">    
      <div><label  id="lblit" for="it">इट्</label>
            <select id="it" name="it" size="3">
              <option selected value="सेट्">सेट्</option>
              <option value="अनिट्">अनिट्</option>
              <option value="वेट्">वेट्</option>
      </div>
      <div><label for="Placeholder5">dummy</label>
          <select id="Placeholder5" name="Placeholder5" size="1" >
      </div></div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      url = "127.0.0.1"; port="5002"; prefix = '/Amarakosha/api/v1.0/';
      document.getElementById("status").value="";
      // Populate the listbox with options from the Dhatus endpoint
      const DhatusSelect = document.getElementById("Dhatus");
      fetch('http://' + url + ':' + port + prefix + 'KrdantaTigantaDhatus')
        .then(response => response.json())
        .then(json => {
          dataArray = json['KrdantaTigantaDhatus'];
          // console.log(dataArray);
          dataArray.forEach((item, i) => {
            const option = document.createElement("option");
            option.value = i;
            option.text = item;
            DhatusSelect.appendChild(option);
          });
        });
        // enable generate buttons only when there is a selection from the list box
        const DhatusListBox = document.getElementById("Dhatus");
        DhatusListBox.addEventListener("change", () => {
        const dhatu = $("#Dhatus option:selected").text();
        if (dhatu == "") {
            document.getElementById("DhatusButton").disabled = true;
            document.getElementById("DhatusButtonOptionGana").disabled = true;
            document.getElementById("DhatusButtonOptionPadi").disabled = true;
            document.getElementById("DhatusButtonOptionKarma").disabled = true;
            document.getElementById("DhatusButtonOptionIt").disabled = true;}
        else {
            document.getElementById("DhatusButton").disabled = false;
            document.getElementById("DhatusButtonOptionGana").disabled = false;
            document.getElementById("DhatusButtonOptionPadi").disabled = false;
            document.getElementById("DhatusButtonOptionKarma").disabled = false;
            document.getElementById("DhatusButtonOptionIt").disabled = false;}
        })
      var optionClicked = "SortedList";
      // Add event listeners to the "Get Dhatus" buttons
      const DhatusButton = document.getElementById("DhatusButton");
      const DhatusButtonGana = document.getElementById("DhatusButtonOptionGana");
      const DhatusButtonPadi = document.getElementById("DhatusButtonOptionPadi");
      const DhatusButtonKarma = document.getElementById("DhatusButtonOptionKarma");
      const DhatusButtonIt = document.getElementById("DhatusButtonOptionIt");
    DhatusButton.addEventListener("click", () => {
        const selectedId = DhatusSelect.value;
        const popup = document.getElementById("popup");
        popup.style.visibility = "visible";
        document.getElementById("textBoxes").style.visibility = "hidden";
        document.getElementById("purusha_vachana").style.visibility = "hidden";
        document.getElementById("tigantaTbl").style.visibility = "hidden";

        document.getElementById("btnOk").style.visibility = "visible";
    });
      DhatusButtonGana.addEventListener("click", () => {
        const selectedId = DhatusSelect.value;
        const popup = document.getElementById("popup");
        popup.style.visibility = "visible";
        const popupGana = document.getElementById("optionGana");
        popupGana.style.visibility = "visible";
        document.getElementById("optionPadi").style.visibility = "hidden";
        document.getElementById("optionKarma").style.visibility = "hidden";
        document.getElementById("optionIt").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "hidden";
        document.getElementById("purusha_vachana").style.visibility = "hidden";
        document.getElementById("tigantaTbl").style.visibility = "hidden";

        document.getElementById("btnOk").style.visibility = "visible";
        optionClicked = "Ganas";
    });
      DhatusButtonPadi.addEventListener("click", () => {
        const selectedId = DhatusSelect.value;
        const popup = document.getElementById("popup");
        popup.style.visibility = "visible";
        const popupPadi = document.getElementById("optionPadi");
        popupPadi.style.visibility = "visible";
        document.getElementById("optionGana").style.visibility = "hidden";
        document.getElementById("optionKarma").style.visibility = "hidden";
        document.getElementById("optionIt").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "hidden";
        document.getElementById("purusha_vachana").style.visibility = "hidden";
        document.getElementById("tigantaTbl").style.visibility = "hidden";

        document.getElementById("btnOk").style.visibility = "visible";
        optionClicked = "Padis";
    });
      DhatusButtonKarma.addEventListener("click", () => {
        const selectedId = DhatusSelect.value;
        const popup = document.getElementById("popup");
        popup.style.visibility = "visible";
        const popupKarma = document.getElementById("optionKarma");
        popupKarma.style.visibility = "visible";
        document.getElementById("optionGana").style.visibility = "hidden";
        document.getElementById("optionPadi").style.visibility = "hidden";
        document.getElementById("optionIt").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "hidden";
        document.getElementById("purusha_vachana").style.visibility = "hidden";
        document.getElementById("tigantaTbl").style.visibility = "hidden";

        document.getElementById("btnOk").style.visibility = "visible";
        optionClicked = "Karmas";
    });
      DhatusButtonIt.addEventListener("click", () => {
        const selectedId = DhatusSelect.value;
        const popup = document.getElementById("popup");
        popup.style.visibility = "visible";
        const popupIt = document.getElementById("optionIt");
        popupIt.style.visibility = "visible";
        document.getElementById("optionGana").style.visibility = "hidden";
        document.getElementById("optionKarma").style.visibility = "hidden";
        document.getElementById("optionPadi").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "hidden";
        document.getElementById("purusha_vachana").style.visibility = "hidden";
        document.getElementById("tigantaTbl").style.visibility = "hidden";

        document.getElementById("btnOk").style.visibility = "visible";
        optionClicked = "Its";
    });
    
      function optionsClicked() {
        if (optionClicked == "SortedList") getDhatus();
        else if (optionClicked == "Ganas") getDhatusOptionGana();
        else if (optionClicked == "Padis") getDhatusOptionPadi();
        else if (optionClicked == "Karmas") getDhatusOptionKarma();
        else if (optionClicked == "Its") getDhatusOptionIt();
        optionClicked = "SortedList";
        document.getElementById("DhatusButton").disabled = true;
        document.getElementById("DhatusButtonOptionGana").disabled = true;
        document.getElementById("DhatusButtonOptionPadi").disabled = true;
        document.getElementById("DhatusButtonOptionKarma").disabled = true;
        document.getElementById("DhatusButtonOptionIt").disabled = true;
        document.getElementById("btnOk").style.visibility = "hidden";
      }
      function getDhatus() {
        document.getElementById("popup").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "visible";
        document.getElementById("purusha_vachana").style.visibility = "visible";
        document.getElementById("tigantaTbl").style.visibility = "visible";
        const dhatuVidha =  $("#DhatuVidha option:selected").text();
        const voice =  $("#Prayoga option:selected").text();
        const lakara =  $("#lakara option:selected").text();
        const dhatu = $("#Dhatus option:selected").text();
        parameters = "?DhatuVidha=" + dhatuVidha+"&voice=" + voice + "&lakara=" + lakara + "&dhatu=" + dhatu;
        url = 'http://' + url + ':' + port + prefix + 'TigantaDhatuVoiceLakara' + parameters;
        renderRestApiJson(url);
    };
    
    function getDhatusOptionGana() {
        document.getElementById("popup").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "visible";
        document.getElementById("purusha_vachana").style.visibility = "visible";
        document.getElementById("tigantaTbl").style.visibility = "visible";
        const dhatuVidha =  $("#DhatuVidha option:selected").text();
        const voice =  $("#Prayoga option:selected").text();
        const lakara =  $("#lakara option:selected").text();
        const dhatu = $("#Dhatus option:selected").text();
        const parameter = $("#gana option:selected").text();
        parameters = "?DhatuVidha=" + dhatuVidha+"&voice=" + voice + "&lakara=" + lakara + "&dhatu=" + dhatu + "&option=गण" + "&parameter=" + parameter;
        url = 'http://' + url + ':' + port + prefix + 'TigantaOptionGanaPadiKarmaIt' + parameters;
        document.getElementById("optionGana").style.visibility = "hidden";
        renderRestApiJson(url);
      }
      function getDhatusOptionPadi() {
        document.getElementById("popup").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "visible";
        document.getElementById("purusha_vachana").style.visibility = "visible";
        document.getElementById("tigantaTbl").style.visibility = "visible";
        const dhatuVidha =  $("#DhatuVidha option:selected").text();
        const voice =  $("#Prayoga option:selected").text();
        const lakara =  $("#lakara option:selected").text();
        const dhatu = $("#Dhatus option:selected").text();
        const parameter = $("#padi option:selected").text();
        parameters = "?DhatuVidha=" + dhatuVidha+"&voice=" + voice + "&lakara=" + lakara + "&dhatu=" + dhatu + "&option=पदि" + "&parameter=" + parameter;
        url = 'http://' + url + ':' + port + prefix + 'TigantaOptionGanaPadiKarmaIt' + parameters;
        document.getElementById("optionPadi").style.visibility = "hidden";
        renderRestApiJson(url);
      };

      function getDhatusOptionKarma() {
        document.getElementById("popup").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "visible";
        document.getElementById("purusha_vachana").style.visibility = "visible";
        document.getElementById("tigantaTbl").style.visibility = "visible";
        const dhatuVidha =  $("#DhatuVidha option:selected").text();
        const voice =  $("#Prayoga option:selected").text();
        const lakara =  $("#lakara option:selected").text();
        const dhatu = $("#Dhatus option:selected").text();
        const parameter = $("#karma option:selected").text();
        parameters = "?DhatuVidha=" + dhatuVidha+"&voice=" + voice + "&lakara=" + lakara + "&dhatu=" + dhatu + "&option=कर्म" + "&parameter=" + parameter;
        url = 'http://' + url + ':' + port + prefix + 'TigantaOptionGanaPadiKarmaIt' + parameters;
        document.getElementById("optionKarma").style.visibility = "hidden";
        renderRestApiJson(url);
      };

      function getDhatusOptionIt() {
        document.getElementById("popup").style.visibility = "hidden";
        document.getElementById("textBoxes").style.visibility = "visible";
        document.getElementById("purusha_vachana").style.visibility = "visible";
        document.getElementById("tigantaTbl").style.visibility = "visible";
        const dhatuVidha =  $("#DhatuVidha option:selected").text();
        const voice =  $("#Prayoga option:selected").text();
        const lakara =  $("#lakara option:selected").text();
        const dhatu = $("#Dhatus option:selected").text();
        const parameter = $("#it option:selected").text();
        parameters = "?DhatuVidha=" + dhatuVidha+"&voice=" + voice + "&lakara=" + lakara + "&dhatu=" + dhatu + "&option=इट्" + "&parameter=" + parameter;
        url = 'http://' + url + ':' + port + prefix + 'TigantaOptionGanaPadiKarmaIt' + parameters;
        document.getElementById("optionIt").style.visibility = "hidden";
        renderRestApiJson(url);
      };

        function renderRestApiJson(url) {
        console.log(url);
        fetch(url)
          .then(response => response.json())
          .then(data => {
            const dhatuDiv = document.getElementById("dhatu");
            dhatuDiv.innerHTML = "<h5>Tiganta:</h5>";
            dataArray = data['Tigantas'];
            document.getElementById("DhatusButton").disabled = true;
            document.getElementById("DhatusButtonOptionGana").disabled = true;
            document.getElementById("DhatusButtonOptionPadi").disabled = true;
            document.getElementById("DhatusButtonOptionKarma").disabled = true;
            document.getElementById("DhatusButtonOptionIt").disabled = true;
            const tigantasTblDiv = document.getElementById('tigantas');

            Object.entries(dataArray).forEach(([key, value]) => {
              if (key=="forms") {
                let tabl = document.getElementById('tbl');
                tabl.remove();
                const table = document.createElement('table');
                table.setAttribute("id", "tbl");
                const headerRow = table.insertRow();
                const rowLabel = document.createElement('th');
                rowLabel.textContent = 'पुरुष/वचन';
                headerRow.appendChild(rowLabel);              
                const header1 = document.createElement('th');
                header1.textContent = 'एकवचन';
                headerRow.appendChild(header1);
                const header2 = document.createElement('th');
                header2.textContent = 'द्विवचन';
                headerRow.appendChild(header2);
                const header3 = document.createElement('th');
                header3.textContent = 'बहुवचन';
                headerRow.appendChild(header3);

                formsDict = dataArray["forms"];
                purushas = ["प्रथम", "मध्यमा", "उत्तम"];

                for (const [key, value] of Object.entries(formsDict)) {
                  const row = table.insertRow();
                  const labelCell = row.insertCell();
                  labelCell.textContent = purushas[key];
                  for (const form of value) {
                    const cell = row.insertCell();
                    cell.textContent = form;
                  }
                }
                const texboxes = document.getElementById("purusha_vachana");
                texboxes.appendChild(table);
              }
              else if (key != "") {
                let popup = document.getElementById("popup");
                 popup.style.visibility = "hidden"; // popup.remove;
                const texboxes = document.getElementById("textBoxes");
                // textboxes.setAttribute("class") = "flex-container";
                const label = document.createElement("label");
                label.htmlFor = key;
                label.textContent = key + ": ";
                // label.style.font = "20px arial,serif";
                dhatuDiv.appendChild(label);
                const textBox = document.createElement("input");
                textBox.type = "text";
                textBox.id = key;
                textBox.value = value;
                textBoxes.appendChild(textBox);
            }
            dhatuDiv.appendChild(document.createElement("br"));
            // document.body.appendChild(tigantasTblDiv);
        });
      })
        .catch(error => {
          console.error(error);
          document.getElementById("status").value=error;
        });
    };
    </script>
  </body>
</html>
